<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <record id="sitemap_backend_list" model="ir.actions.act_window">
            <field name="name">Sitemap Details</field>
            <field name="res_model">website_sitemap.extended</field>
            <field name="view_mode">list</field>
        </record>

        <record id="sitemap_backend_tree" model="ir.ui.view">
            <field name="name">Sitemap Tree</field>
            <field name="model">website_sitemap.extended</field>
            <field name="field_parent">child_id</field>
            <field name="arch" type="xml">
                <tree string="Sitemap" editable="bottom">
                    <field name="name"/>
                    <field name="location"/>
                    <field name="sitemap_visible"/>
                </tree>
            </field>
        </record>

        <record id="sitemap_backend_config" model="ir.ui.view">
            <field name="name">Sitemap config</field>
            <field name="model">website.config.settings</field>
            <field name="inherit_id" ref="website.view_website_config_settings"/>
            <field name="arch" type="xml">

                <xpath expr="//form">
                    <group string="Sitemap">
                        <button type="action"
                                name="%(sitemap_backend_list)d"
                                string="Configure Sitemap"
                                class="oe_link"/>
                    </group>
                </xpath>

            </field>
        </record>

    </data>
</openerp>